@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  background-color: rgb(248, 247, 242);
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 25%;
  font-size: 18px;
}
p {
  margin: 0;
}
a:hover{
  background: rgb(235, 195, 109);
}
a{
  color: rgb(165, 161, 161);
}
.header {
  margin: 2% 0;
  color: rgb(165, 161, 161);
}
.header a {
  color: #ccc;
}
#author{
  margin: 0;
  font-size: 30px;
  color: rgb(138, 135, 135)
}
.bar {
  color: #ccc;
  font-size: 12pt;
  vertical-align: bottom;
  padding-left: 1px;
  padding-right: 1px;
}
.item_wrapper {
  margin-top: 5%;
}
.title {
  font-weight: bold;
  margin: 0;
}
.title a{
    color: black;
}
.details {
  color: #ccc;
  font-size: 15px;
}
.date {
  float: left;
  margin: 1% 0 0 -15%;
  font-size: 15px;
  color: #ccc;
  font-style: italic;
}
.summary {
  margin-top: 2%;
}
.continue_reading {
  color: rgb(170, 169, 169);
  font-size: 15px;
  margin-top: 3%;
}
h1{
    font-size: 25px;
}
main p{
    margin: 2% 0;
}
main a{

    color: grey;
}
img{
  box-sizing: border-box;
  margin: 5% 0;
  max-width: 100%
}
.footer{
    margin: 10% 0;
    color: grey;
    font-size: 15px;
    font-style: italic;
    display: flex;
    justify-content: center;
}

@media (max-width: 800px){
  img{
    display: none;
  }
  body{
    margin:0 5%;
  }
}