@import "./fonts.css";

body {
  background-color: rgb(255, 255, 255);
  font-family: "equity-text";
  margin: 0 10%;
  font-size: 18px;
}
a:hover{
  background: rgb(245, 245, 30);
}
a{
  color: rgb(36, 35, 35);
  text-decoration: none;
}
.hello a{
  background: rgb(245, 245, 30);
}
.hello{
  font-size: 30px;
  margin: 5%;
  font-weight: bold;
}
.item_wrapper{
  list-style: none;
  display: flex;
}
.item_wrapper p{
  margin: 1%;
  width: 80%;
}
.title {
  margin: 2% 0;
  font-size: 25px;
  align-self: flex-end;
}
.title a{
    color: black;
    text-decoration: none;
}
.header{
  font-size: 30px;
  margin-bottom: 5%;
  margin-top: 2%;
  font-family: "advocate-c53";
}
.header a{
  background:rgb(245, 245, 30);
}
.header a:hover{
  background: white;
}
.details {
  color: rgb(155, 135, 135);
  font-size: 15px;
}
.date {
  float: left;
  font-size: 20px;
  font-style: italic;
  padding-top: 2%;
  width: 10%;
}
h1{
    font-size: 25px;
}
main p{
    margin: 2% 0;
}
main a{

    color: grey;
}
img{
  box-sizing: border-box;
  max-width: 100%
}
.footer{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding: 2%;
  border-top: rgb(230, 223, 223) 3px solid;
  font-family: "advocate-c53";
}
.footer p{
  margin: 0;
}
@media (max-width: 800px){
  img{
    display: none;
  }
  body{
    margin:5%;
  }
  .date{
    display: none;
  }
}