<body>
    <div class="header">
    <a id="author" href="https://notamonadtutorial.com/">{{ .Site.Author.name }}</a>
    <div>
        <a href="{{ .Site.Author.projects }}">projects</a>
        <span class="bar">|</span>
        <a href="{{ .Site.Author.github}}">github</a>
        <span class="bar">|</span>
        <a href="{{ .Site.Author.twitter}}">Twitter</a>
        <span class="bar">|</span>
        <a href="{{ .Site.Author.rss}}">rss</a>
        <span class="bar">|</span>
        <a href="{{ .Site.Author.contact}}">contact</a>
    </div>
    </div>
    <main>